{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/escritorio/potencia3ph.jpg">
    </a>
    <h1>potencia3ph</h1>
    <p>Permite visualizar y monitorear voltaje, corriente y potencia en sistemas monofasicos y trifasicos.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-php"><span class="glyphicon glyphicon-flash"></span> Getting Started with PHP</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/php-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-php" class="alert-link">Getting Started with PHP on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Introduccion</h3>
      <ul>
        <li>Para enviar información o para modificar la cantidad de energía Los transformadores de corriente (TC) se utilizan para la medición que se envía a una carga. Este tipo de señales es muy utilizado en de las corrientes eléctricas y pueden ser conocidos como circuitos digitales que necesitan emular una señal analógica.</li>

        <li>En esta aplicacion los utilizamos para la medicion o calculo de corriente, voltaje y potencia de un circuito monofasico o trifasico.</li>
        <li>Es de gran utilidad para el monitoreo del consumo en tiempo real.</li>
        
      </ul>
    </div>
    <div class="col-md-6">
      
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Links de Referencias</h3>
      <ul>
        <li><a href="https://www.digikey.com/es/product-highlight/a/amgis/ct-seriescurrent-transformers "<transfomador>/transformador></li>
        <li><a href="https://definicion.de/bluetooth/ "<definicion bluetooh>/definicion bluetooh></li>
        <li><a href="https://es.ccm.net/contents/684-transmision-de-datos-transmisionanalogica"<transmision de datos>/transmision de datos></li>
        <li><a href="https://www.arduino.utfsm.cl/modulacion-por-ancho-de-pulso-pwm/ "<arduino>/arduino></li>
        <li><a href="https://naylampmechatronics.com/blog/51_tutorial-sensor-decorriente-ac-no-invasivo-s.html " <tutorial>/tutorial></li>
      </ul>
    </div>
  </div> <!-- row -->
  
  </div>
</div>

{% endblock %}
